target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
hermes.log

*.iml
.classpath
.classpath-atom
.project
.settings/
.factorypath
.checkstyle
bin/